body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 0.5px;
    color:black;
    background-color: #fff;

}
.site-header{
    background-color: rgb(85, 221, 153);
    border-style: none;
    padding: 20px;
}
body header nav {
    display: inline-block;
    float: right;
    padding-top: 50px;
    
    

}
.hero-content{
    text-align: center;
    padding: 10px;
}
.hero-btn{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: blue;
    font-size: 20px;
    font-family: 'Arial Black', Gadget, sans-serif;
}
.sitenav-list{
    list-style: none;
    display: inline;
    
    
}
.sitenav-item1{
    display: inline;

}

.sitenav-link{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        margin-left: 30px;
       
        
}

}
.hero{
    background-color: skyblue;
}
.hero-heading{
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}
.btn{
    text-decoration: none;
}
.hero-btn{
    color: #fff;
}
.news-heading{
    font-size: 32px;
    font-family: 'Bebas Neue', sans-serif;
}
.news-list{
    list-style: none;
}
.news-item{
    list-style: none;
}
section ul {
    list-style: none;
}
section ul li a {
    text-decoration: none;
    color: #000;
}
footer{
    background-color: skyblue;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer nav ul li a{
    text-decoration: none;
    color: #222;
    
}
footer nav ul{
    list-style: none;
}
.news-item-img{
    height: 200px;
    width: 400px;
    object-fit: cover;

}
aside{
   background-color: green;
}